/* Universal selector Style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    scroll-behavior: smooth;
}

/* Body Style */

body {
    background-color: royalblue;
}

/* Header and Navigation Styles START */

header {
    width: 100%;
    min-height: 20%;
    text-align: left;
    padding: auto;
}

#image { 
    background: url(../img/Dragon.jpeg) no-repeat center;
    background-size:cover;
    opacity: 90%;
    width:auto;
}

header h1 {
    text-align: right;
    padding-right: 30px;
    padding-top: 50px;
    font-size: 45px;
    -webkit-text-stroke: 0.5px navy; /* width and color */
    font-family: 'Black Ops One'; color: yellow;
    text-decoration: underline  fuchsia;
}

header h1 .font-logo {
    font-size: 70px;
    color: rgb(63, 218, 32);
}

header nav {
    padding: 30px;
}

header nav ul {
    text-align: right;
    color: rgb(63, 218, 32);
}

header nav ul li {
    display: inline-block;
    font-family: 'Quantico';
    font-weight: bold;
    outline: dashed  navy;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 20px;
    background: rgba(255, 0, 255, 0.8);
    list-style-type:square;
}

/* Header and Navigation Styles END */
